<div class="container">
  <br />
  <h1>My Movies</h1>
  <br />
  <div *ngIf="myState.length === 0">
    <strong>
      haven't chosen a movie yet... Go to the "Movie List" page and select your
      favorite movies.</strong
    >
  </div>

  <div class="row">
    <div class="col-md-4" *ngFor="let movie of myState">
      <div class="card mb-3">
        <img [src]="movie.poster" class="card-img-top" alt="Movie Image" />
        <div class="card-body">
          <h5 class="card-title">{{ movie.title }}</h5>
          <p class="card-text"><strong>Creator:</strong> {{ movie.writer }}</p>
          <p class="card-text">{{ movie.description }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
